---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width-device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About Houston</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

        <h1>What is "houston"?</h1>
        <h2>Also, why is Houston?</h2>

        <p>My aim is to totally ignore AI autocomplete in this tutorial and progress slowly but confidently.</p>

        <p>Also as a side goal, no copy-paste is allowed. I want to type every character myself, except from auto-closing tags.</p>

        <p>Maybe we can learn something or two about this "Houston" along the way too, who knows?</p>
    </body>
</html>
