---
import { getCollection } from "astro:content";
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = await getCollection("blog");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>07.11.2025</h1>
        <p>This project is all about taking it slow. I examine nearly every suggestion and its description given by the IDE as I type.</p>
        <p>I guess this seems so naive, even childish from outside. But the thing is, we are also jealous of children who can learn much faster and adapt to things that we can't even comprehend.</p>
        <p>But we can copy their approach. Not relying on experience and not being afraid to seem foolish, we can learn any concept deeply with a curious attitude towards everything that catch our attention.</p>
        <p>Rome wasn't built in a day, but they added bricks every day. I guess the people who studied rocks and thought about the brick building process should also get some credit.</p>
        <ul>
            {allPosts.map((post: any) => (
                <BlogPost url={`/posts/${post.id}`} title={post.data.title} />
            ))}
        </ul>
        
        <p>Found a markdown cheat sheet, which is the only thing I copy and pasted in this project:</p>
        <a href="/posts/post-4/">Here, take a look.</a>
</BaseLayout>